<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Logiciel - {{ title }}</title>
    </head>
    <body>
        <h1>Logiciel - {{ title }}</h1>
        <p>Voici une page HTML, complétée par le texte : {{ text }}</p>
    </body>
</html>